* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #202327;
}

header {
    width: 100%;
    height: 150px;
    display: block;
    border-bottom: 3px solid #4ECCA3;
}

.logo img{
    width: 150px;
    position: absolute;
    margin: 20px 100px;
    transition: 0.07s;
    
}

.logo img:hover{
    transition: 0.07s;
    transform: scale(1.1)
}

nav .menu {
    float: right;
    /* position: relative; */
    margin-top: 40px;
    margin-right: 100px;
}

.menu ul a{
    text-decoration: none;
    list-style: none;
}

.menu a{
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.1s ease-in-out;
    border-bottom: 0 solid #fff;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.menu a:hover {
    border-bottom: 3px solid #4ECCA3;
    transition:none;
    transition: 0.1s ease-in-out;
}

.container1 {
    height: 600px;;
    color: #fff;
    text-align: center;
    background-image: url("./media/homeBackground1.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.container1 h1, p, a {
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    color: #EEEEEE
}

.container1 h1 {
    font-size: 40px;
    padding-top: 10%;
}

.container1 p {
    width: 400px;
    margin: 0 auto;
    font-size: 20px;
}

.container1 a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 5px solid white;
    padding: 5px 15px;
    border-radius: 100px;
    text-transform: uppercase;
    line-height: 100px;
    transition: 0.4s;
}

.container1 a:hover {
    border: 5px solid #4ECCA3;
    color: #4ECCA3;    
    transition: 0.4s;
}

footer {
    border-top: 3px solid #4ECCA3;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 60px;   
}

footer p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 900px) {
    header {
        height: 300px;
    }

    .logo {
        margin: auto;
        max-width: 180px;
    }

    .logo img{
        position: unset;
        margin: 10px  0px 0px 0px;
        float: none;
    }

    nav {
        margin: auto;
        max-width: 180px;
        text-align: center;
    }

    nav .menu {
        margin-top: 10px;
        padding: 10px 0;
        float: none;
        /* border-left: 3px solid #4ECCA3; */
        /* border-right: 3px solid #4ECCA3; */
        width: 175px;
    }

    nav .menu ul {
        margin: 0 auto;
        
    }

    nav .menu a{
        display: block;
        line-height: 150%;
    }

    .logo img:hover{
        transform: unset;
    }

    .menu a:hover {
        border-bottom: 0; 
        color: #4ECCA3;    
        transition: 0.2s;    
    }

}

@media only screen and (max-width: 500px) {
    .container1 p {
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
    }
}